<h1>Angular Tag</h1>
<!-- <p>{{ message }}</p>

<app-navbar></app-navbar>
<app-post
  [fromParent]="parentComponent"
  (messageEvent)="receiveMessage($event)"
></app-post> -->

<!-- property binding -->
<!-- //This is string interpolation -->
<!-- <img src="{{ imgUrl }}" alt="" /> -->

<!-- //This is the property binding -->
<!-- <img [src]="imgUrl" alt="" /> -->

<!-- 
class binding -->
<!-- <h1 [class.textRed]="bbol">Hello People</h1> -->

<!-- style binding -->

<!-- <h1 [style.color]="bbol ? 'red' : 'blue'">Style binding</h1> -->

<!-- event binding -->
<!-- <input type="text" (keyup)="onKeyUp($event)" /> -->

<!-- 
template varaible -->
<!-- <input type="text" (keyup.enter)="onKeyUp(username.value)" #username /> -->

<!-- <app-task></app-task> -->

<!-- <app-add-task></app-add-task> -->

<app-navbar></app-navbar>
