<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand p-2 fw-bold" routerLink="/">AngularPrac</a>

  <div class="collapse navbar-collapse d-flex align-items-center">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-item">
        <a
          class="navbar-link text-decoration-none text-white p-2"
          routerLink="/add"
          >Add Details</a
        >
      </li>
      <li class="navbar-item">
        <a
          class="navbar-link text-decoration-none text-white p-2"
          routerLink="/view"
          >View Details</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
